<section class="section-container" fxLayout="column" fxLayoutGap="2em">
  <section fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2em">
    <mat-card fxFlex="0 0">
      <mat-card-header>
        <mat-card-title>Users</mat-card-title>
      </mat-card-header>
      <mat-card-content fxFill>
        <ng-container *ngIf="canListUsers; then: users; else: noUsers" />
        <ng-template #users>
          <app-user />
        </ng-template>
        <ng-template #noUsers>
          <app-unauthorized />
        </ng-template>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="0 0">
      <mat-card-header>
        <mat-card-title>Roles</mat-card-title>
      </mat-card-header>
      <mat-card-content fxFill>
        <ng-container *ngIf="canListRoles; then roles; else: noRoles" />
        <ng-template #roles>
          <app-role />
        </ng-template>
        <ng-template #noRoles>
          <app-unauthorized />
        </ng-template>
      </mat-card-content>
    </mat-card>
  </section>
  <section fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2em">
    <mat-card fxFlex="0 0">
      <mat-card-header>
        <mat-card-title>UserClaims</mat-card-title>
      </mat-card-header>
      <mat-card-content fxFill>
        <ng-container *ngIf="canListUserClaims; then userClaims; else: noUserClaims" />
        <ng-template #userClaims>
          <app-user-claim />
        </ng-template>
        <ng-template #noUserClaims>
          <app-unauthorized />
        </ng-template>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="0 0">
      <mat-card-header>
        <mat-card-title>UserRoles</mat-card-title>
      </mat-card-header>
      <mat-card-content fxFill>
        <ng-container *ngIf="canListUserRoles; then userRoles; else: noUserRoles" />
        <ng-template #userRoles>
          <app-user-role />
        </ng-template>
        <ng-template #noUserRoles>
          <app-unauthorized />
        </ng-template>
      </mat-card-content>
    </mat-card>
  </section>
</section>
