<mat-nav-list>
  <a href="#">
    <mat-list-item>
      <mat-icon matListItemIcon>question_mark</mat-icon>
      <span matListItemTitle>PAGE 1</span>
    </mat-list-item>
  </a>
  <a href="#">
    <mat-list-item>
      <mat-icon matListItemIcon>question_mark</mat-icon>
      <span matListItemTitle>PAGE 2</span>
    </mat-list-item>
  </a>
  <a href="#">
    <mat-list-item>
      <mat-icon matListItemIcon>question_mark</mat-icon>
      <span matListItemTitle>PAGE 3</span>
    </mat-list-item>
  </a>
</mat-nav-list>
