<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button color="primary" (click)="sidenavToggle.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="spacer"></div>
    <button mat-fab extended color="secondary" [matMenuTriggerFor]="accountMenu">
      <mat-icon [ngClass]="{'m0': !appAuthService.isLoggedIn()}">account_circle</mat-icon>
      <span *ngIf="appAuthService.isLoggedIn()">{{appAuthService.getDisplayName()}}</span>
    </button>
    <mat-menu #accountMenu>
      <ng-container *ngIf="appAuthService.isLoggedIn(); then isLoggedIn; else isLoggedOut" />
      <ng-template #isLoggedIn>
        <a mat-menu-item [routerLink]="['home']" (click)="appAuthService.logout()">
          <mat-icon matListItemIcon>logout</mat-icon>
          <span matListItemTitle>LOGOUT</span>
        </a>
        <ng-container *ngIf="appRoleService.hasRole(appRoleService.roleList.ADMIN) then isAdmin" />
        <ng-template #isAdmin>
          <a mat-menu-item [routerLink]="['admin']">
            <mat-icon matListItemIcon>admin_panel_settings</mat-icon>
            <span matListItemTitle>ADMINISTRATION</span>
          </a>
        </ng-template>
      </ng-template>
      <ng-template #isLoggedOut>
        <a mat-menu-item [routerLink]="['auth']">
          <mat-icon matListItemIcon>login</mat-icon>
          <span matListItemTitle>LOGIN</span>
        </a>
      </ng-template>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
