<div class="fixed flex flex-col justify-around w-max max-w-max bottom-5 right-5 z-50">
  <div class="w-full max-w-xs p-4 m-2 bg-white rounded-lg shadow" role="alert" *ngFor="let notification of notifications">
    <div class="flex">
      <div>
        <span class="text-sm font-semibold"><strong>{{notification.title}}</strong></span>
        <div class="mt-1 text-sm font-normal">{{notification.content}}</div>
      </div>
      <button type="button"
        class="ml-auto -mx-1.5 -my-1.5 justify-center items-center text-gray-400 hover:text-gray-900 p-1.5 inline-flex h-8 w-8"
        aria-label="Close" (click)="deleteNotification(notification)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
